{{> header}}

<main id="main">

    <section id="cookbook" class="cookbook">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h1>CookBook <a href="#" class="plus-circle"><i class="bx bx-plus-circle"></i></a></h1>
                    <h3>Breakfast</h3>
                </div>
            </div>
            <div class="row">
                {{#each recipes}}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <img src="data:image/jpg;base64,QzpVc2Vyc0lyaW5hRG9jdW1lbnRzQ1VteS1zdHVmZlNoZWxmQ29va2luZ3B1YmxpY2ltZ3NhbmR3aWNoLmpwZw==" class="card-img-top" alt="{{name}} picture">
                            <div>
                                <h6><i class="bx bx-time"></i> {{time}} <i class="bx bx-face"></i>{{person_num}}</h6>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/recipes/{{id}}">{{name}}</a></h5>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

</main>

<footer id="footer">
    <div class="container">
        <div class="copyright">
            Irina Plaksina. 2020
        </div>
        <div class="credits">
            Based on <strong><span>Siimple</span></strong> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>