{{> header}}

<main id="main">

    <section id="cookbook" class="cookbook">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">

                    <h1><a href="/cookbook">CookBook</a> <a href="/add-recipe" class="plus-circle"><i
                            class="bx bx-plus-circle"></i></a></h1>
                    <h3>{{type.type}}</h3>
                </div>
            </div>
            <div class="row">
                {{#each recipe}}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <a href="/cookbook/recipes/{{id}}">
                            <div class="card">
                                {{#if image}}
                                    <img src="/images/{{id}}" class="card-img-top" alt="{{name}} picture">
                                {{else}}
                                    <img src="../img/RecipePlaceholder.jpg" class="card-img-top" alt="{{name}} picture">
                                {{/if}}
                                <div>
                                    <h6><i class="bx bx-time"></i> {{time}} <i class="bx bx-face"></i>{{person_num}}
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{name}}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

</main>

<footer id="footer">
    <div class="container">
        <div class="copyright">
            Irina Plaksina. 2020
        </div>
        <div class="credits">
            Based on <strong><span>Siimple</span></strong> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>