{{> header}}

<main id="main">
    <section id="cookbook" class="cookbook">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/{{recipe.id}}" class="card-img-top" alt="{{recipe.name}} picture">
                        <div>
                            <h6><i class="bx bx-time"></i> {{recipe.time}} <i
                                    class="bx bx-face"></i> {{recipe.person_num}}</h6>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a>{{recipe.name}}</a>
                            </h5>
                            <div class="card-text">
                                <h6><u>Utensils:</u><span
                                        class="list-items"> {{recipe.utensils}}</span></h6>
                                <h6><u>Ingredients:</u></h6>
                                <ul class="list-items">
                                    {{#each ingredients}}
                                        <li><i class="bx bx-checkbox"></i>{{name}},
                                            <small><em>{{amount}} {{unit}}</em></small>
                                            <i class="bx bx-cart cart"></i>
                                        </li>
                                    {{/each}}
                                </ul>
                                <h6><u>Method:</u></h6>
                                <ol class="list-items">{{{recipe.method}}}</ol>
                            </div>
                        </div>
                        <a href="/cookbook/{{recipe.type}}">
                            Back to {{recipe.type}} list
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
